html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
label {
    display: block;
}
li {
    list-style: none;
}
h1 {
    padding-left: 8%;
    font-size: 54px;
    background-image: url('../img/header-bg.gif');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
main {
    flex: 1 0 auto;
    background: linear-gradient(rgb(255, 255, 255), rgb(247, 232, 253));
}
a {
    text-decoration: none;

}
input {
    padding: 5px 10px;
}
input::placeholder {
    opacity: 0.6;
    font-size: 14px;
}
/* INDEX*/
.header-wrap {

}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 80px;
}
.logo {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../img/header-bg.gif');
}
/* ACTIONS */
.header__user-actions{
    display: flex;
}
.user-action {
    padding-left: 20px;
}
.action-link, h2 {
    color: rgb(231, 0, 143);
}
.user-login {
}
.user-signin {
}
.user-basket {
}

/* MENU */
.header-nav {

}
.meni-list {
    display: flex;
    background-color: rgb(187, 134, 211);
    padding: 0px 45px;
    box-shadow:  1px 1px 3px rgb(143, 143, 143);
}
.menu-list-elem {
    padding: 12px 20px;
    background-color: rgb(187, 134, 211);
}
.menu-list-elem:focus, .menu-list-elem:hover{
    padding: 12px 20px;
    background-color: rgb(171, 121, 194);
}
.menu-link {
    color: #FFF;
    text-shadow: 0px 0px 2px rgb(219, 219, 219);
}
/*INDEX*/
.main-wrap {
    padding: 50px 100px;
}
/* LOG IN */
.form-wrap-out {
    padding-top:50px;
    display: flex;
    justify-content: center;
}
.form-elem-cell {
    margin-top: 10px;

}
.btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.form-btn {
    padding: 10px 25px;
    color: #FFF;
    background: linear-gradient( 135deg, rgb(231, 0, 143), rgb(238, 113, 176));
    border: none;
    border-radius: 35px;
}

/* SIGN IN */

/* BASKET */


/* FOOTER */
footer{
    flex-shrink: 0;
}
.footer-wrap {
    height: 36px;
    background-color: rgb(187, 134, 211);
}